<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/public/css/cadastro-usuario-sucesso/index.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <script defer src="/public/js/success-payment/qrious.js"></script>
    <script defer src="/public/js/success-payment/index.js"></script>
    <link rel="stylesheet" href="/public/css/success-payment/index.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="cabecalho">
      <span class="cabecalho_logo">
        <a rel="prev" href="/"
          ><img
            class="logo_img"
            src="/public/assets/images/logo-da-escola.png"
            alt=""
          />
          <a class="logo_text" rel="prev" href="/">IPPIE</a></a
        >
      </span>
      <button id="btn-menu-mobile">
        MENU
        <span id="humburger"></span>
      </button>
      <ul class="cabecalho_list">
        <li class="cabecalho_list_item"><a href="/" rel="prev">HOME</a></li>
        <li class="cabecalho_list_item">
          <a href="/#porquenos" rel="prev">SOBRE NÓS</a>
        </li>
        <li class="cabecalho_list_item">
          <a href="/#cursos" rel="prev">CURSOS</a>
        </li>
      </ul>
    </header>
    <main class="content">
      <div class="payment-doc">
        <div class="header">
          <img src="/public/assets/images/logo-da-escola.png" alt="" />
          <h2>Pagamento feito com sucesso</h2>
        </div>
        <div class="student-info">
          <h3>Dados do Aluno</h3>
          <span>Nome: <%= dados.nome %></span>
          <span>Curso: <%= dados['Curso.nome'] %></span>
          <span>Endereço: <%= dados.endereco %></span>
          <span>Numero do BI: <%= dados.numero_BI %></span>
          <span>Estado da matricula: <%= dados['Matriculas.status'] %></span>
        </div>
        <div>
          <canvas style="height: 10em; width: 10em;" id="qrcode-2"></canvas>
          <a id="qr-link" href="">Ou acesse aqui</a>
        </div>
        <button class="print-btn">Imprimir</button>
      </div>
    </main>
  </body>
</html>
